.menu .content .box {
  width: 340px;
  margin: 20px;
  border-radius: 20px;
  border: 10px solid #fff;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box:hover {
  transform: rotate(2deg);
}

.menu .content .menu-page:hover {
  transform: scale(1.04);
}

.menu .content .box .text {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #111;
}
.menu .content .box .text p {
  font-size: 2rem;
  font-weight:800;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#111;

}